<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'kyushu',
		id: 'index',
		title: '「祐」と九州',
		titlehtml: '',
		description: '「祐」と九州',
	}
}}); %><%- include('../_header'); %>
					<section class="p-kyushu__list">
						<div class="l-inner">
							<div class="p-kyushu__list__content">
								<div class="p-kyushu__list__title">
									<h2 class="c-heading1 --tasuku">
										<img src="<%= getRelativePath('/images/kyushu/kyushu.svg'); %>" alt="「祐」と九州">
									</h2>
								</div>
								<div class="p-kyushu__list__item">
									<div class="c-popup">
										<ul class="c-popup__list --edit">
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no43" data-alt="2022年10月-［43号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no43.jpg'); %>" alt="2022年10月-［43号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2022年10月</span>
														<span class="c-popup__no --color">［43号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no42" data-alt="2022年8月-［42号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no42.jpg'); %>" alt="2022年8月-［42号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2022年8月</span>
														<span class="c-popup__no --color">［42号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no41" data-alt="2022年5月-［41号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no41.jpg'); %>" alt="2022年5月-［41号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2022年5月</span>
														<span class="c-popup__no --color">［41号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no40" data-alt="2022年3月-［40号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no40.jpg'); %>" alt="2022年3月-［40号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date">2022年3月</span>
														<span class="c-popup__no">［40号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no39" data-alt="2022年2月-［39号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no39.jpg'); %>" alt="2022年2月-［39号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2022年2月</span>
														<span class="c-popup__no --color">［39号］</span>
													</p>
												</a>
											</li> 
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no38" data-alt="2021年11月-［38号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no38.jpg'); %>" alt="2021年11月-［38号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2021年11月</span>
														<span class="c-popup__no --color">［38号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no37" data-alt="2021年10月-［37号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no37.jpg'); %>" alt="2021年10月-［37号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2021年10月</span>
														<span class="c-popup__no --color">［37号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no36" data-alt="2021年7月-［36号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no36.jpg'); %>" alt="2021年7月-［36号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2021年7月</span>
														<span class="c-popup__no --color">［36号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no35" data-alt="2021年5月-［35号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no35.jpg'); %>" alt="2021年5月-［35号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2021年5月</span>
														<span class="c-popup__no --color">［35号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no34" data-alt="2021年3月-［34号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no34.jpg'); %>" alt="2021年3月-［34号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2021年3月</span>
														<span class="c-popup__no --color">［34号］</span>
													</p>
												</a>
											</li> 
										</ul>
									</div>
								</div>
								<div class="p-kyushu__list__itemRight">
									<div class="c-popup">
										<ul class="c-popup__banner">
											<li class="c-popup__item --first">
												<img src="<%= getRelativePath('/images/kyushu/cream.jpg'); %>" alt="cream">
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no33" data-alt="2021年1月-［33号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no33.jpg'); %>" alt="2021年1月-［33号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2021年1月</span>
														<span class="c-popup__no --color">［33号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no32" data-alt="2020年11月-［32号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no32.jpg'); %>" alt="2020年11月-［32号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2020年11月</span>
														<span class="c-popup__no --color">［32号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no31" data-alt="2020年10月-［31号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no31.jpg'); %>" alt="2020年10月-［31号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2020年10月</span>
														<span class="c-popup__no --color">［31号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no30" data-alt="2020年7月-［30号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no30.jpg'); %>" alt="2020年7月-［30号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2020年7月</span>
														<span class="c-popup__no --color">［30号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no29" data-alt="2020年5月-［29号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no29.jpg'); %>" alt="2020年5月-［29号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2020年5月</span>
														<span class="c-popup__no --color">［29号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no28" data-alt="2020年1月-［28号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no28.jpg'); %>" alt="2020年1月-［28号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2020年1月</span>
														<span class="c-popup__no --color">［28号］</span>
													</p>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="p-kyushu__list__item">
									<div class="c-popup">
										<ul class="c-popup__list --edit">
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no27" data-alt="2019年10月-［27号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no27.jpg'); %>" alt="2019年10月-［27号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2019年10月</span>
														<span class="c-popup__no --color">［27号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no26" data-alt="2019年7月-［26号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no26.jpg'); %>" alt="2019年7月-［26号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2019年7月</span>
														<span class="c-popup__no --color">［26号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no25" data-alt="2019年4月-［25号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no25.jpg'); %>" alt="2019年4月-［25号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2019年4月</span>
														<span class="c-popup__no --color">［25号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no23" data-alt="2018年9月-［23号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no23.jpg'); %>" alt="2018年9月-［23号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2018年9月</span>
														<span class="c-popup__no --color">［23号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no22" data-alt="2018年5月-［22号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no22.jpg'); %>" alt="2018年5月-［22号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2018年5月</span>
														<span class="c-popup__no --color">［22号］</span>
													</p>
												</a>
											</li> 
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no21" data-alt="2018年1月-［21号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no21.jpg'); %>" alt="2018年1月-［21号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2018年1月</span>
														<span class="c-popup__no --color">［21号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no20" data-alt="2017年9月-［20号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no20.jpg'); %>" alt="2017年9月-［20号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2017年9月</span>
														<span class="c-popup__no --color">［20号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no19" data-alt="2017年6月-［19号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no19.jpg'); %>" alt="2017年6月-［19号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2017年6月</span>
														<span class="c-popup__no --color">［19号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no18" data-alt="2017年1月-［18号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no18.jpg'); %>" alt="2017年1月-［18号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2017年1月</span>
														<span class="c-popup__no --color">［18号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no17" data-alt="2017年10月-［17号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no17.jpg'); %>" alt="2017年10月-［17号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date --color">2017年10月</span>
														<span class="c-popup__no --color">［17号］</span>
													</p>
												</a>
											</li> 
										</ul>
									</div>
								</div>
								<div class="p-kyushu__list__itemLeft">
									<div class="c-popup">
											<ul class="c-popup__banner --reverse">
												<li class="c-popup__item">
													<a class="c-popup__link is-open--popup" data-id="no16" data-alt="2016年7月-［16号］">
														<div class="c-popup__shelf --noBoxshadow">
															<img src="<%= getRelativePath('/images/kyushu/no16.jpg'); %>" alt="2016年7月-［16号］">
														</div>
														<p class="c-popup__info --edit">
															<span class="c-popup__date">2016年7月</span>
															<span class="c-popup__no">［16号］</span>
														</p>
													</a>
												</li>
												<li class="c-popup__item">
													<a class="c-popup__link is-open--popup" data-id="no15" data-alt="2016年4月-［15号］">
														<div class="c-popup__shelf --noBoxshadow">
															<img src="<%= getRelativePath('/images/kyushu/no15.jpg'); %>" alt="2016年4月-［15号］">
														</div>
														<p class="c-popup__info --edit">
															<span class="c-popup__date">2016年4月</span>
															<span class="c-popup__no">［15号］</span>
														</p>
													</a>
												</li>
												<li class="c-popup__item">
													<a class="c-popup__link is-open--popup" data-id="no14" data-alt="2016年1月-［14号］">
														<div class="c-popup__shelf --noBoxshadow">
															<img src="<%= getRelativePath('/images/kyushu/no14.jpg'); %>" alt="2016年1月-［14号］">
														</div>
														<p class="c-popup__info --edit">
															<span class="c-popup__date">2016年1月</span>
															<span class="c-popup__no">［14号］</span>
														</p>
													</a>
												</li>
												<li class="c-popup__item">
													<a class="c-popup__link is-open--popup" data-id="no13" data-alt="2015年10月-［13号］">
														<div class="c-popup__shelf --noBoxshadow">
															<img src="<%= getRelativePath('/images/kyushu/no13.jpg'); %>" alt="2015年10月-［13号］">
														</div>
														<p class="c-popup__info --edit">
															<span class="c-popup__date">2015年10月</span>
															<span class="c-popup__no">［13号］</span>
														</p>
													</a>
												</li>
												<li class="c-popup__item">
													<a class="c-popup__link is-open--popup" data-id="no12" data-alt="2015年7月-［12号］">
														<div class="c-popup__shelf --noBoxshadow">
															<img src="<%= getRelativePath('/images/kyushu/no12.jpg'); %>" alt="2015年7月-［12号］">
														</div>
														<p class="c-popup__info --edit">
															<span class="c-popup__date">2015年7月</span>
															<span class="c-popup__no">［12号］</span>
														</p>
													</a>
												</li>
												<li class="c-popup__item">
													<a class="c-popup__link is-open--popup" data-id="no11" data-alt="2015年4月-［11号］">
														<div class="c-popup__shelf --noBoxshadow">
															<img src="<%= getRelativePath('/images/kyushu/no11.jpg'); %>" alt="2015年4月-［11号］">
														</div>
														<p class="c-popup__info --edit">
															<span class="c-popup__date">2015年4月</span>
															<span class="c-popup__no">［11号］</span>
														</p>
													</a>
												</li>
												<li class="c-popup__item --last">
													<img src="<%= getRelativePath('/images/kyushu/road.jpg'); %>" alt="cream">
												</li>
											</ul>
									</div>
								</div>
								<div class="p-kyushu__list__item">
									<div class="c-popup">
										<ul class="c-popup__list --edit">
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no10" data-alt="2015年1月-［10号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no10.jpg'); %>" alt="2015年1月-［10号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date">2015年1月</span>
														<span class="c-popup__no">［10号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no9" data-alt="2014年10月-［9号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no9.jpg'); %>" alt="2014年10月-［9号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date">2014年10月</span>
														<span class="c-popup__no">［9号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no8" data-alt="2014年7月-［8号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no8.jpg'); %>" alt="2014年7月-［8号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date">2014年7月</span>
														<span class="c-popup__no">［8号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no7" data-alt="2014年4月-［7号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no7.jpg'); %>" alt="2014年4月-［7号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date">2014年4月</span>
														<span class="c-popup__no">［7号］</span>
													</p>
												</a>
											</li>
											<li class="c-popup__item">
												<a class="c-popup__link is-open--popup" data-id="no6" data-alt="2014年1月-［6号］">
													<div class="c-popup__shelf --noBoxshadow">
														<img src="<%= getRelativePath('/images/kyushu/no6.jpg'); %>" alt="2014年1月-［6号］">
													</div>
													<p class="c-popup__info --edit">
														<span class="c-popup__date">2014年1月</span>
														<span class="c-popup__no">［6号］</span>
													</p>
												</a>
											</li> 
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="c-popupImg" id="is-contain">
                        <div class="c-popupImg__contain">
							<div class="c-popupImg__content">
								<div class="c-popupImg__img" id="is-modelimg">
									<img src="<%= getRelativePath("/images/kyushu/no6.jpg"); %>" alt="2022年10月-［43号］">
								</div>
							</div>
							<div class="c-popupImg__close" id="is-closePopup">
								<img src="<%= getRelativePath("/images/kyushu/icon_close.svg"); %>" alt="Close model">
							</div>
                        </div>
                    </section>
<%- include('../_footer'); %>
