<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'interview',
		id: 'index',
		title: '社長インタビュー',
		titlehtml: '',
		description: '社長インタビュー',
	}
}}); %><%- include('../_header'); %>
					<section class="p-interview__president">
						<div class="l-inner">
                            <div class="p-interview__president__content">
                                <h2 class="c-heading1 --fs1 --interview">
                                    社長インタビュー
                                </h2>
                                <p class="c-text --fs1">
                                    ｢祐｣ が10周年を迎えるにあたり､<br>
                                    代表取締役社長 吉武 浩幸にインタビューを行いました｡<br>
                                    多くの方々に協力をいただきながら歩み続けた10年の感謝と､<br>
                                    次の10年に向けた想い､そして経営者として考える<br>
                                    会社の未来についてお話を伺いました｡
                                </p>
                            </div>
                            <div class="p-interview__president__info">
                                <div class="p-interview__president__infoContent">
                                    <div class="c-content">
                                        <h2 class="c-content__sentence --edit1">
                                            <span class="c-content__sentence__question">Q1.</span>
                                            <span class="c-content__sentence__title">「祐」の発行10周年を迎えて、今、皆さまにお伝えしたいことはありますか？</span>
                                        </h2>
                                        <div class="c-content__title --edit1 --color">
                                            心に残る手紙のような<br>
                                            “メディカル・レター”であり続けたい
                                        </div>
                                        <div class="c-content__row --edit1">
                                            <div class="c-content__content">
                                                <p class="c-content__text">
                                                    　「祐（たすく）」は2012年10月に創刊しました。そして2022年、医療機関の皆さまと祐徳薬品工業をつなぐコミュニケーション・ツールとして、「祐」は10周年を迎えることができました。医療機関の皆さまにおかれましては、これまで発行した全44号のご愛読、そして取材へのご協力、誠にありがとうございました。<br>
                                                    　そのサブタイトルにありますように、「祐」は祐徳薬品工業からの“メディカル・レター”として発行してまいりました。全国の医療機関で行われている取り組みについて、社員自らが編集部員となり心をこめて誌面をつくり、医療現場への手紙としてお届けしています。医療機関の皆さまへ話題を提供でき、少しでも役立つような存在であることを目指しています。<br>
                                                </p>
                                            </div>
                                            <div class="c-content__img">
                                                <img src="<%= getRelativePath('/images/interview/interview_img01.jpg'); %>" alt="心に残る手紙のような“メディカル・レター”であり続けたい">
                                            </div>
                                        </div>
                                        <div class="c-content__row --reverse">
                                            <div class="c-content__content">
                                                <p class="c-content__text --reverse">
                                                    　コロナ禍において、病院の先生方への取材がままならない時もございました。それでも取材方法に工夫をこらして発行を継続できたこと、さらには「医療関係者同士の情報共有が難しい時期だからこそ『祐』を読みたい」とバックナンバーをご所望いただいたことも思い出され、大変うれしく感じております。<br>
                                                    　今後も「祐」の発行をとおして、皆さまと祐徳薬品工業のコミュニケーションが深まりますよう、社員一同精進して参ります。
                                                </p>
                                            </div>
                                            <div class="c-content__img --edit1">
                                                <img src="<%= getRelativePath('/images/interview/interview_img02.jpg'); %>" alt="心に残る手紙のような“メディカル・レター”であり続けたい">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-interview__president__infoContent --edit">
                                    <div class="c-content">
                                        <h2 class="c-content__sentence --edit1">
                                            <span class="c-content__sentence__question">Q2.</span>
                                            <span class="c-content__sentence__title">
                                                70周年を迎えた祐徳薬品工業。節目の年にあらためて心境をお聞かせください。
                                            </span>
                                        </h2>
                                        <div class="c-content__title --edit1 --color">
                                            創業時から続く、<br>
                                            チームワークの良さと自由闊達さを大切に
                                        </div>
                                        <div class="c-content__row --reverse">
                                            <div class="c-content__content">
                                                <p class="c-content__text --reverse --left">
                                                    　1952年（昭和27年）に創立された祐徳薬品工業は、2022年に70周年を迎えました。創業の地は現在も本社を置く佐賀県鹿島市で、創業者である森田判助を中心に鹿島市の医療関係者や名士・有志によって設立されました。<br>
                                                    　皆が力を合わせて設立した企業らしく、社内のコミュニケーションは昔から良好です。チームワークにも優れており、良いと思ったことについては立場に関わらず自分の考えを発信できる雰囲気があります。この自由闊達さが、変革をおそれない祐徳薬品工業の社風を醸成し、自身が胸を張れる医薬品を70年間に渡り社会にご提供できたのだと自負しています。今後も地元・鹿島市に貢献しながら進歩を続ける所存です。<br>
                                                    　また2022年は、救急絆創膏「カットバン」の発売60周年、そして「祐」発行10周年というアニバーサリー・イヤーになりました。これからも私たちの得意分野である「貼る」の領域を主軸にあらゆる薬剤の可能性を探りながら、医療機関の皆さまのお力になり、すべての方々の健康のために努めてまいります。 
                                                </p>
                                            </div>
                                            <div class="c-content__img">
                                                <img src="<%= getRelativePath('/images/interview/interview_img03.jpg'); %>" alt="創業時から続く、チームワークの良さと自由闊達さを大切に">
                                            </div>
                                        </div>
                                </div>
                                <div class="p-interview__president__infoContent --edit1">
                                    <div class="c-content">
                                        <h3 class="c-content__sentence --edit1">
                                            <span class="c-content__sentence__question">Q3.</span>
                                            <span class="c-content__sentence__title --edit">
                                                これから先の10年、20年、そして100周年に向けて、どのように医療業界へ
                                                貢献していきたいですか？
                                            </span>
                                        </h3>
                                        <div class="c-content__title --edit2 --color">
                                            得意分野の「貼り薬」から、<br>
                                            健康寿命の延伸をサポートする
                                        </div>
                                        <div class="c-content__row --edit1">
                                            <div class="c-content__content --edit2">
                                                <p class="c-content__text --edit1">
                                                    <img class="c-content__text__img" src="<%= getRelativePath('/images/interview/interview_img04.jpg'); %>" alt=" 得意分野の「貼り薬」から、健康寿命の延伸をサポートする">
                                                    　超高齢化社会を迎えた今、祐徳薬品工業の使命は、「貼り薬」のちからで健康寿命の延伸を後押しすることにあります。<br>
                                                    　まず「貼り薬」の消炎鎮痛剤について、手の届きやすい価格帯での開発・発売を継続すること。消費者が消炎鎮痛剤を購入しやすい環境を維持できるよう、各機関に働きかけることも重要です。それにより高齢者が我慢せずに消炎鎮痛剤を使用し続けることができれば、ロコモシンドロームに陥ることなく健康寿命を伸ばせると考えています。<br>
                                                    　さらに「貼り薬」の技術の活用は、消炎鎮痛剤に留まりません。現在も「貼り薬」としてアルツハイマー型認知症治療剤、局部麻酔剤などを提供しています。「貼り薬」は内臓への負担軽減や副作用が起きた場合に至急取り除けるといったメリットが数多くあります。また介護の現場では、服薬の状況が目で見て分かる、貼り薬自体に日付などを記入できる、錠剤を飲み込む力が衰えても利用しやすいなどのお声もいただいています。<br>
                                                    　私は祐徳薬品工業と同じ1952年に生まれで、入社した1976年の主力商品は救急絆創膏「カットバン」でした。その当時の祐徳薬品工業を振り返ると、現在の祐徳薬品工業は大きく力強く、進歩しています。<br>
                                                    　10年後、20年後、そして100周年を迎える祐徳薬品工業が、より皆さまの健康に寄り添い、医療関係者の皆さまのお役に立てる企業であるように。これからも邁進してまいります。
                                                </p>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="c-content__img --edit1-one">
                                            <img src="<%= getRelativePath('/images/interview/interview_img05.jpg'); %>" alt=" 得意分野の「貼り薬」から、健康寿命の延伸をサポートする">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
<%- include('../_footer'); %>