<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'create',
		id: 'index',
		title: '「祐」をつくる',
		titlehtml: '',
		description: '「祐」をつくる',
	}
}}); %><%- include('../_header'); %>
					<section class="p-create__president">
						<div class="l-inner">
                            <div class="p-create__president__title">
                                <h2 class="c-heading1 --create">
                                    <img src="<%= getRelativePath('/images/create/create_title.svg'); %>" alt="「祐」をつくる">
                                </h2>
                                <p class="c-text --fs1">
                                    医療業界への貢献を目指して、<br>
                                    全国の営業メンバーから届く多彩な先進事例を取りまとめ、<br>
                                    鮮度の高い情報を、正確に共有できる誌面をつくるために。<br>
                                    編集スタッフに制作のポイントを聞いてみました。
                                </p>
                            </div>
                            <div class="p-create__president__info">
                                <div class="p-create__president__infoContent">
                                    <div class="c-content --edit1">
                                        <p class="c-content__sentence">
                                            <span class="c-content__sentence__question">Q1.</span>
                                            <span class="c-content__sentence__title">
                                                10年前、どのような経緯から「祐」の発行を決められたのでしょうか？
                                            </span>
                                        </p>
                                        <div class="c-content__row --reverse1">
                                            <div class="c-content__content">
                                                <p class="c-content__text --reverse1">
                                                    この文章はダミーです。この文章はダミーです。この文章はダミー
                                                    です。この文章はダミーです。この文章はダミーです。この文章は
                                                    ダミーです。この文章はダミーです。この文章はダミーです。この
                                                    文章はダミーです。この文章はダミーです。この文章はダミーで
                                                    す。この文章はダミーです。この文章はダミーです。この文章はダ
                                                    ミーです。この文章はダミーです。この文章はダミーです。この文
                                                    章はダミーです。この文章はダミーです。この文章はダミーです。
                                                    この文章はダミーです。この文章はダミーです。この文章はダミー
                                                    です。この文章はダミーです。この文章はダミーです。この文章は
                                                    ダミーです。この文章はダミーです。この文章はダミーです。この
                                                    文章はダミーです。この文章はダミーです。この文章はダミーで
                                                    す。この文章はダミーです。この文章はダミーです。この文章はダ
                                                    ミーです。この文章はダミーです。この文章はダミーです。この文
                                                    章はダミーです。
                                                </p>
                                            </div>
                                            <div class="c-content__img --reverse1">
                                                <img src="<%= getRelativePath('/images/create/img_create01.jpg'); %>" alt="10年前、どのような経緯から「祐」の発行を決められたのでしょうか？">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-create__president__infoContent --edit2">
                                    <div class="c-content --edit1">
                                        <p class="c-content__sentence">
                                            <span class="c-content__sentence__question">
                                                Q2.
                                            </span>
                                            <span class="c-content__sentence__title">
                                                冊子を制作するうえで、もっとも大切にしていることはなんですか？
                                            </span>
                                        </p>
                                        <div class="c-content__row --edit2">
                                            <div class="c-content__content">
                                                <p class="c-content__text --edit2">
                                                    この文章はダミーです。この文章はダミーです。この文章はダミー
                                                    です。この文章はダミーです。この文章はダミーです。この文章は
                                                    ダミーです。この文章はダミーです。この文章はダミーです。この
                                                    文章はダミーです。この文章はダミーです。この文章はダミーで
                                                    す。この文章はダミーです。この文章はダミーです。この文章はダ
                                                    ミーです。この文章はダミーです。この文章はダミーです。この文
                                                    章はダミーです。この文章はダミーです。この文章はダミーです。
                                                    この文章はダミーです。この文章はダミーです。この文章はダミー
                                                    です。この文章はダミーです。この文章はダミーです。この文章は
                                                    ダミーです。この文章はダミーです。この文章はダミーです。この
                                                    文章はダミーです。この文章はダミーです。この文章はダミーで
                                                    す。この文章はダミーです。この文章はダミーです。この文章はダ
                                                    ミーです。この文章はダミーです。この文章はダミーです。この文
                                                    章はダミーです。
                                                </p>
                                            </div>
                                            <div class="c-content__img --reverse1">
                                                <img src="<%= getRelativePath('/images/create/img_create02.jpg'); %>" alt="冊子を制作するうえで、もっとも大切にしていることはなんですか？">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-create__president__infoContent --edit1">
                                    <div class="c-content --edit1">
                                        <p class="c-content__sentence">
                                            <span class="c-content__sentence__question"> Q3.</span>
                                            <span class="c-content__sentence__title">
                                                冊子を通して、医療業界にどのように貢献していきたいと考えていますか？
                                            </span>
                                        </p>
                                        <div class="c-content__row --reverse1">
                                            <div class="c-content__content">
                                                <p class="c-content__text --reverse1">
                                                    この文章はダミーです。この文章はダミーです。この文章はダミー
                                                    です。この文章はダミーです。この文章はダミーです。この文章は
                                                    ダミーです。この文章はダミーです。この文章はダミーです。この
                                                    文章はダミーです。この文章はダミーです。この文章はダミーで
                                                    す。この文章はダミーです。この文章はダミーです。この文章はダ
                                                    ミーです。この文章はダミーです。この文章はダミーです。この文
                                                    章はダミーです。この文章はダミーです。この文章はダミーです。
                                                    この文章はダミーです。この文章はダミーです。この文章はダミー
                                                    です。この文章はダミーです。この文章はダミーです。この文章は
                                                    ダミーです。この文章はダミーです。この文章はダミーです。この
                                                    文章はダミーです。この文章はダミーです。この文章はダミーで
                                                    す。この文章はダミーです。この文章はダミーです。この文章はダ
                                                    ミーです。この文章はダミーです。この文章はダミーです。この文
                                                    章はダミーです。
                                                </p>
                                            </div>
                                            <div class="c-content__img --reverse1">
                                                <img src="<%= getRelativePath('/images/create/img_create01.jpg'); %>" alt="冊子を通して、医療業界にどのように貢献していきたいと考えていますか？">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-create__president__infoContent --edit2">
                                    <div class="c-content --edit1">
                                        <p class="c-content__sentence">
                                            <span class="c-content__sentence__question">Q4.</span>
                                            <span class="c-content__sentence__title">次の10年に向けて、今後の「祐」づくりの目標を教えてもらえますか？</span>
                                        </p>
                                        <div class="c-content__row --edit2">
                                            <div class="c-content__content">
                                                <p class="c-content__text">
                                                    この文章はダミーです。この文章はダミーです。この文章はダミー
                                                    です。この文章はダミーです。この文章はダミーです。この文章は
                                                    ダミーです。この文章はダミーです。この文章はダミーです。この
                                                    文章はダミーです。この文章はダミーです。この文章はダミーで
                                                    す。この文章はダミーです。この文章はダミーです。この文章はダ
                                                    ミーです。この文章はダミーです。この文章はダミーです。この文
                                                    章はダミーです。この文章はダミーです。この文章はダミーです。
                                                    この文章はダミーです。この文章はダミーです。この文章はダミー
                                                    です。この文章はダミーです。この文章はダミーです。この文章は
                                                    ダミーです。この文章はダミーです。この文章はダミーです。この
                                                    文章はダミーです。この文章はダミーです。この文章はダミーで
                                                    す。この文章はダミーです。この文章はダミーです。この文章はダ
                                                    ミーです。この文章はダミーです。この文章はダミーです。この文
                                                    章はダミーです。
                                                </p>
                                            </div>
                                            <div class="c-content__img --edit2 ">
                                                <img src="<%= getRelativePath('/images/create/img_create03.jpg'); %>" alt="次の10年に向けて、今後の「祐」づくりの目標を教えてもらえますか？">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="p-create__achieve">
                        <div class="l-inner">
                            <div class="p-create__achieve__title">
                                <h2>
                                    <img src="<%= getRelativePath("/images/create/title.png"); %>" alt="「祐」ができるまで">
                                </h2>
                            </div>
                            <div class="p-create__achieve__info">
                                <div class="c-thumbnail" style="background: url('<%= getRelativePath("/images/create/bg_create01.jpg"); %>') no-repeat center/cover;">
                                    <div class="c-thumbnail__content --right is-open--modal" data-id="model_create1">
                                        全国の営業メンバーから<br>
                                        中面に掲載させていただく<br>
                                        クライアントさまの情報を収集
                                    </div>
                                </div>
                            </div>
                            <div class="p-create__achieve__down">
                                <span class="c-iconDown"></span>
                            </div>
                            <div class="p-create__achieve__info">
                                <div class="c-thumbnail" style="background: url('<%= getRelativePath("/images/create/bg_create02.jpg"); %>') no-repeat center/cover;">
                                    <div class="c-thumbnail__content --left is-open--modal" data-id="model_create2">
                                        集まった情報の中から<br>
                                        時事的な側面なども考慮し、<br>
                                        掲載依頼先を選定<br>
                                    </div>
                                </div>
                            </div>
                            <div class="p-create__achieve__down">
                                <span class="c-iconDown"></span>
                            </div>
                            <div class="p-create__achieve__info">
                                <div class="c-thumbnail" style="background: url('<%= getRelativePath("/images/create/bg_create03.jpg"); %>') no-repeat center/cover;">
                                    <div class="c-thumbnail__content --right is-open--modal"  data-id="model_create3">
                                        掲載にご了承いただけたら<br>
                                        ご都合のよい日程をお伺いし、<br>
                                        現地での取材・撮影を実施
                                    </div>
                                </div>
                            </div>
                            <div class="p-create__achieve__down">
                                <span class="c-iconDown"></span>
                            </div>
                            <div class="p-create__achieve__info">
                                <div class="c-thumbnail" style="background: url('<%= getRelativePath("/images/create/bg_create04.jpg"); %>') no-repeat center/cover;">
                                    <div class="c-thumbnail__content --left is-open--modal"  data-id="model_create4">
                                        自身で原稿チェック後、<br>
                                        掲載先に内容確認していただき、<br>
                                        修正がなければ印刷へ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="c-model" id="is-all">
                        <div class="c-model__contain">
                            <div class="c-model__info">
                                <div class="c-model__content">
                                    <h2 class="c-model__content__title">
                                        <span class="c-model__content__sentence">1
                                        </span>
                                        <span class="--title">
                                            ●●●●●●●●●●●●●●<br>
                                            ●●●●●●●●●
                                        </span>
                                    </h2>
                                    <div class="c-model__content__text">
                                        この文章はダミーです。この文章はダミーです。
                                        この文章はダミーです。この文章はダミーです。
                                        この文章はダミーです。この文章はダミーです。
                                        この文章はダミーです。この文章はダミーです。
                                        この文章はダミーです。この文章はダミーです。
                                        この文章はダミーです。
                                    </div>
                                </div>
                                <div class="c-model__img" id="is-modelimg">
                                    <img src="<%= getRelativePath("/images/create/model_create1.jpg"); %>" alt="●●●●●●●●●●●●●●●●●●●●●●●">
                                </div>
                            </div>
                            <div class="c-model__close" id="is-close">
                                <img src="<%= getRelativePath("/images/create/icon_close.svg"); %>" alt="Close model">
                            </div>
                            <div class="c-model__point">
                                POINT
                            </div>
                        </div>
                    </section>
<%- include('../_footer'); %>