				</article>
				<!-- /.<%= getArticleClass('.'); %> -->
			</main>
			<!-- /#primary -->
			<div id="pagetop" class="c-pagetop">
				<a href="#"><img src="<%= getRelativePath('/images/common/pagetotop.svg'); %>" alt="pagetotop"></a>
			</div>
			<!-- /#pagetop -->
		</div>
		<!-- /#content -->
		<footer class="l-footer">
			<div class="l-footer__inner">
				<div class="l-footer__logo">
						<img src="<%= getRelativePath('/images/common/logo_footer.png'); %>" alt="祐徳薬品工業株式会社">
				</div>
				<div class="l-footer__contents">
					<p class="l-footer__info">〒849-1393 佐賀県鹿島市大字納富分2596番地1　<br class="u-onlySp"> TEL:<a href="tel:0954631231">0954-63-1231</a></p>
					<p class="l-footer__copyright">Copyright © YUTOKU PHARMACEUTICAL IND.Co., LTD. All Rights Reserved.</p>
				</div>
			</div>
		</footer>
		<!-- /#footer -->
	</div>
	<!-- /#all -->
	<script src="<%= getRelativePath('/js/jquery-3.6.0.min.js'); %>"></script>
	<script src="<%= getRelativePath('/js/script.js'); %>"></script>
	<script src="<%= getRelativePath('/js/slick.min.js'); %>"></script>
	<script src="<%= getRelativePath('/js/index.js'); %>"></script>
</body>
</html>