<%- include('_config', { extend: {
	relativePath: '.',
	page: {
		id: 'index',
		title: 'TOPページ',
		description: 'TOPページです',
	}
}}); %><%- include('_header'); %>
					<section class="p-top__paste">
						<div class="l-inner">
							<p class="p-top__paste__cicle">
								2022年、医療機関の皆さまと祐徳薬品工業をつなぐ<br class="u-onlyPc">
								コミュニケーション・ツールとして創刊した「祐」が10周年を迎えることができました。<br class="u-onlyPc">
								お力添えをいただきました皆さまへ、心より感謝申し上げます。
							</p>
							<div class="p-top__paste__flex">
								<img src="<%= getRelativePath('/images/index/goaisatsu-img.jpg'); %>" alt="｢貼 る｣技術で、皆様のお役に立ちたい。">
								<div class="p-top__paste__content">
									<h2 class="c-heading1 --color --fs2">
										心に残る手紙のような<br>
										“メディカル・レター”であり続けたい。
									</h2>
									<a href="<%= getRelativePath('/interview'); %>" class="c-btn">
										社長インタビュー
									</a>
								</div>
							</div>
						</div>
					</section>
					<section class="p-top__back">
						<div class="l-inner">
							<div class="p-top__backBtn">
								<h2 class="c-btnTitle">
									<span class="c-btnTitle__link">「祐」 BACKNUMBER</span>
								</h2>
							</div>
							<div class="p-top__backPopup">
								<div class="c-popup">
									<ul class="c-popup__list">
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no43.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no43.jpg'); %>" alt="2022年10月-［43号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2022年10月</span>
													<span class="c-popup__no">［43号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no42.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no42.jpg'); %>" alt="2022年8月-［42号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2022年8月</span>
													<span class="c-popup__no">［42号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no41.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no41.jpg'); %>" alt="2022年5月-［41号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2022年5月</span>
													<span class="c-popup__no">［41号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no40.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no40.jpg'); %>" alt="2022年3月-［40号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2022年3月</span>
													<span class="c-popup__no">［40号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no39.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no39.jpg'); %>" alt="2022年2月-［39号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2022年2月</span>
													<span class="c-popup__no">［39号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no38.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no38.jpg'); %>" alt="2021年11月-［38号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2021年11月</span>
													<span class="c-popup__no">［38号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no37.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no37.jpg'); %>" alt="2021年10月-［37号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2021年10月</span>
													<span class="c-popup__no">［37号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no36.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no36.jpg'); %>" alt="2021年7月-［36号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2021年7月</span>
													<span class="c-popup__no">［36号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no35.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no35.jpg'); %>" alt="2021年5月-［35号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2021年5月</span>
													<span class="c-popup__no">［35号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no34.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no34.jpg'); %>" alt="2021年3月-［34号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2021年3月</span>
													<span class="c-popup__no">［34号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no33.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no33.jpg'); %>" alt="2021年1月-［33号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2021年1月</span>
													<span class="c-popup__no">［33号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no32.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no32.jpg'); %>" alt="2020年11月-［32号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2020年11月</span>
													<span class="c-popup__no">［32号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no31.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no31.jpg'); %>" alt="2020年10月-［31号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2020年10月</span>
													<span class="c-popup__no">［31号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no30.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no30.jpg'); %>" alt="2020年7月-［30号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2020年7月</span>
													<span class="c-popup__no">［30号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no29.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no29.jpg'); %>" alt="2020年5月-［29号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2020年5月</span>
													<span class="c-popup__no">［29号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no28.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no28.jpg'); %>" alt="2020年1月-［28号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2020年1月</span>
													<span class="c-popup__no">［28号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no27.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no27.jpg'); %>" alt="2019年9月-［27号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2019年9月</span>
													<span class="c-popup__no">［27号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no26.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no26.jpg'); %>" alt="2019年7月-［26号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2019年7月</span>
													<span class="c-popup__no">［26号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no25.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no25.jpg'); %>" alt="2019年4月-［25号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2019年4月</span>
													<span class="c-popup__no">［25号］</span>
												</p>
											</a>
										</li>
										<li class="c-popup__item">
											<a class="c-popup__link" href="<%= getRelativePath('/files/index/no24.pdf'); %>" target="_blank">
												<div class="c-popup__shelf">
													<img src="<%= getRelativePath('/images/index/no24.jpg'); %>" alt="2019年1月-［24号］">
												</div>
												<div class="c-popup__border"></div>
												<p class="c-popup__info">
													<span class="c-popup__date">2019年1月</span>
													<span class="c-popup__no">［24号］</span>
												</p>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<section class="p-top__read">
						<div class="l-inner">
							<!--<div class="c-background" style="background-image: url('<%= getRelativePath("/images/index/shutterstock_readmore.jpg"); %>');">
								<div class="c-background__contain">
									<img src="<%= getRelativePath('/images/index/anniversary1.svg'); %>" class="c-background__contain__img1" alt="「祐」をつくる">
									<a href="<%= getRelativePath('/create'); %>" class="c-btn --white">READ MORE</a>
								</div>
							</div>-->
							<div class="c-background --color" style="background-image: url('<%= getRelativePath("/images/index/no40_bg.png"); %>');">
								<div class="c-background__contain --magrin">
									<img src="<%= getRelativePath('/images/index/anniversary2.svg'); %>" class="c-background__contain__img2" alt="「祐」と九州">
									<a href="<%= getRelativePath('/kyushu'); %>" class="c-btn --red">READ MORE</a>
								</div>
							</div>
							<div class="p-top__read__btn">
								<a href="https://www.yutokuyakuhin.co.jp/guide/" class="c-btn --grey" target="_blank">企業情報</a>
							</div>
						</div>
					</section>
<%- include('_footer'); %>