<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title><%= getHeadPageTitle(); %></title>
	<meta name="description" content="<%= getDescription(); %>">
	<meta property="og:locale" content="ja_JP">
	<meta property="og:type" content="website">
	<meta property="og:url" content="<%= getSiteUrl(); %>">
	<meta property="og:title" content="<%= getSiteTitle(); %>">
	<meta property="og:description" content="<%= getDescription(); %>">
	<meta property="og:image" content="<%= getSiteUrl(); %>/ogp.jpg">
	<meta property="og:site_name" content="<%= getSiteTitle(); %>">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
	<meta name="format-detection" content="telephone=no,email=no,address=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="<%= getRelativePath('/favicon.ico'); %>">
	<link rel="apple-touch-icon" href="<%= getRelativePath('/apple-touch-icon.png'); %>">
	<link rel="stylesheet" href="<%= getRelativePath('/css/slick.css'); %>">
	<link rel="stylesheet" href="<%= getRelativePath('/style.css'); %>">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-K662XZK');</script>
	<!-- End Google Tag Manager -->
</head>
<body class="<%= getBodyClass(); %>">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K662XZK"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div id="all">
		<header class="l-header is-header">
			<div class="l-header__inner">
				<div class="l-header__content">
					<div class="l-header__logo">
						<h1>
							<a href="<%= getRelativePath('/'); %>">
								<img src="<%= getRelativePath('/images/common/logo.svg'); %>" alt="松口内科・循環器内科クリニック">
							</a>
						</h1>
					</div>
					<span class="l-header__title">松口内科・<br class="only-smallPc">循環器内科クリニック</span>
					<nav class="l-header__nav">
						<div class="l-header__nav__inner">
							<div class="l-header__contents">
								<ul class="l-header__list">
									<li class="l-header__item">
										<a href="<%= getRelativePath('/'); %>">
											<img src="<%= getRelativePath('/images/common/home.svg'); %>" alt="トップ">
											<span>トップ</span>
										</a>
									</li>
									<li class="l-header__item">
										<a href="<%= getRelativePath('/not_found.html'); %>">
											<img src="<%= getRelativePath('/images/common/about.svg '); %>" alt="当院について">
											<span>当院について</span>
										</a>
									</li>
									<li class="l-header__item">
										<a href="<%= getRelativePath('/not_found.html'); %>">
											<img src="<%= getRelativePath('/images/common/medical.svg'); %>" alt="診療について">
											<span>診療について</span>
										</a>
									</li>
									<li class="l-header__item">
										<a href="<%= getRelativePath('/not_found.html'); %>">
											<img class="--img" src="<%= getRelativePath('/images/common/access.svg'); %>" alt="交通アクセス">
											<span>交通アクセス</span>
										</a>
									</li>
									<li class="l-header__item">
										<a href="<%= getRelativePath('/not_found.html'); %>">
											<img class="--img --edit" src="<%= getRelativePath('/images/common/notice.svg'); %>" alt="お知らせ">
											<span>お知らせ</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
					<nav class="l-header__navSp">
						<div class="l-header__menusp">
							<ul class="l-header__menusp__list">
								<li class="l-header__menusp__item">
									<a class="l-header__menusp__link" href="<%= getRelativePath('/not_found.html'); %>">TOP</a>
								</li>
								<li class="l-header__menusp__item">
									<a class="l-header__menusp__link" href="<%= getRelativePath('/not_found.html'); %>">お知らせ</a>
								</li>
								<li class="l-header__menusp__item --edit">
									<span class="l-header__menusp__link">当院について</span>
									<ul class="l-header__submenusp__list">
										<li class="l-header__submenusp__item">
											<a class="l-header__submenusp__link" href="<%= getRelativePath('/not_found.html'); %>">医師・スタッフ紹介</a>
										</li>
									</ul>
									<span class="l-header__menusp__icon">
										<img class="--close" src="<%= getRelativePath('/images/common/icon_submenu.svg'); %>" width="12" height="1" alt="icon open">
										<img class="--open" src="<%= getRelativePath('/images/common/icon_submenu1.svg'); %>" width="12" height="12" alt="icon open">
									</span>
								</li>
								<li class="l-header__menusp__item --edit">
									<span class="l-header__menusp__link">診療について</span>
									<ul class="l-header__submenusp__list">
										<li class="l-header__submenusp__item">
											<a class="l-header__submenusp__link" href="<%= getRelativePath('/not_found.html'); %>">一般内科・循環器内科</a>
										</li>
										<li class="l-header__submenusp__item">
											<a class="l-header__submenusp__link" href="<%= getRelativePath('/not_found.html'); %>">禁煙外来</a>
										</li>
										<li class="l-header__submenusp__item">
											<a class="l-header__submenusp__link" href="<%= getRelativePath('/not_found.html'); %>">睡眠時無呼吸症候群</a>
										</li>
										<li class="l-header__submenusp__item">
											<a class="l-header__submenusp__link" href="<%= getRelativePath('/not_found.html'); %>">訪問診療</a>
										</li>
									</ul>
									<span class="l-header__menusp__icon">
										<img class="--close" src="<%= getRelativePath('/images/common/icon_submenu.svg'); %>" width="12" height="1" alt="icon open">
										<img class="--open" src="<%= getRelativePath('/images/common/icon_submenu1.svg'); %>" width="12" height="12" alt="icon open">
									</span>
								</li>
								<li class="l-header__menusp__item">
									<a class="l-header__menusp__link" href="<%= getRelativePath('/not_found.html'); %>">交通アクセス</a>
								</li>
							</ul>
						</div>
						<div class="l-header__linksp">
							<!--<a href="<%= getRelativePath('/not_found.html'); %>">
								<span>Instagram</span>
								<img src="<%= getRelativePath('/images/common/instagram_Sp.svg'); %>" alt="instagram">
							</a>
							<a href="<%= getRelativePath('/not_found.html'); %>">
								<span>facebook</span>
								<img src="<%= getRelativePath('/images/common/facebook_Sp.svg'); %>" alt="line">
							</a>-->
							<a href="https://lin.ee/iEQt7Jn" target="_blank">
								<span>LINE</span>
								<img src="<%= getRelativePath('/images/common/line_Sp.svg'); %>" alt="facebookline">
							</a>
						</div>
						<div class="l-header__btnsp">
							<a href="https://fdoc.jp/reserve/subjectlist/index/cid/m4816874?SITE_CODE=hp" class="c-btn --edit" target="_blank">
								WEB予約
							</a>
						</div>
						<div class="l-header__tablesp">
							<div class="c-table">
								<table class="c-table__one">
									<tr class="c-table__border">
									<th class="c-table__cat">受付時間</th>
									<th>月</th>
									<th>火</th>
									<th>水</th>
									<th>木</th>
									<th>金</th>
									<th>土</th>
									<th>日・祝</th>
									</tr>
									<tr class="c-table__border">
									<td class="c-table__cat">9：00 - 13：00</td>
									<td class="c-table__icon">
										<span>
											<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
										</span>
									</td>
									<td class="c-table__icon">
										<span>
											<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
										</span>
									</td>
									<td class="c-table__icon">
										<span>
											<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
										</span>
									</td>
									<td class="c-table__icon">
										<span>
											<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
										</span>
									</td>
									<td class="c-table__icon">
										<span>
											<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
										</span>
									</td>
									<td class="c-table__icon">
										<span>
											<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
										</span>
									</td>
									<td class="c-table__icon --iconLine">
										<span>
											<img src="<%= getRelativePath('/images/common/trenght.svg'); %>" alt="cicle">
										</span>
									</td>
									</tr>
									<tr class="c-table__border">
										<td class="c-table__cat">14：00 - 18：00</td>
										<td class="c-table__icon">
											<span>
												<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
											</span>
										</td>
										<td class="c-table__icon">
											<span>
												<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
											</span>
										</td>
										<td class="c-table__icon">
											<span>
												<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
											</span>
										</td>
										<td class="c-table__icon --iconLine">
											<span>
												<img src="<%= getRelativePath('/images/common/trenght.svg'); %>" alt="cicle">
											</span>
										</td>
										<td class="c-table__icon">
											<span>
												<img src="<%= getRelativePath('/images/common/table_cicle.svg'); %>" alt="cicle">
											</span>
										</td>
										<td class="c-table__icon --iconLine">
											<span>
												<img src="<%= getRelativePath('/images/common/trenght.svg'); %>" alt="cicle">
											</span>
										</td>
										<td class="c-table__icon --iconLine">
											<span>
												<img src="<%= getRelativePath('/images/common/trenght.svg'); %>" alt="cicle">
											</span>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<p class="l-header__copyrightsp">Copyright© 2023 Matsuguchi-clinic All Rights Reserved</p>
					</nav>
					<div class="l-header__contact">
						<a href="https://fdoc.jp/reserve/subjectlist/index/cid/m4816874?SITE_CODE=hp" class="c-btn --header" target="_blank">
							WEB予約
						</a>
						<div class="l-header__contact__tel">
							<a href="tel:0924075555">
								<img src="<%= getRelativePath('/images/common/phone.svg'); %>" alt="phone">
								<span>092-407-5555</span>
							</a>
						</div>
					</div>
					<div class="l-menu__button">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</header>
		<!-- /#header -->
		<div class="l-content">
			<main id="l-primary"><% if (getPageId() == 'index') { %>
				<div class="c-mainvisual">
					<div class="c-mainvisual__contain">
						<div class="c-mainvisual__item js-mainslick" >
							<div class="slick-slide --one"></div>
							<div class="slick-slide --two"></div>
							<div class="slick-slide --three"></div>
						</div>
						<div class="c-mainvisual__info">
							<div class="c-mainvisual__content">
								<p class="c-mainvisual__text">私たちは、</p>
								<p class="c-mainvisual__text">患者様に寄り添う医療を提供し、</p>
								<p class="c-mainvisual__text">地域に貢献します。</p>
							</div>
							<!--<div class="c-mainvisual__new">
								<a class="c-mainvisual__link">
									<div class="c-mainvisual__link__outstand">最新のお知らせ</div>
									<div class="c-mainvisual__link__date">2023.00.00</div>
									<div class="c-mainvisual__link__title">テキストテキストテキテキスト</div>
								</a>
							</div>-->
						</div>
					</div>
					<div class="c-mainvisual__scroll">
						<a href="#js-articles" class="c-mainvisual__scroll__down scrolldown1"><span>scroll</span></a>
					</div>
				</div><% } else { %>
				<div class="c-pagetitle">
					<div class="c-pagetitle__image"></div>
					<h2 class="c-pagetitle__heading">
						<strong><%- getEachPageTitle(); %></strong>
						
					</h2>
				</div>
				<% } %>
				<%- include('_breadline'); %>
				<article class="<%= getArticleClass(); %>" id="js-articles">